// BASE COLORS
$BASE_1: #BBE1FA;
$BASE_2: #3282B8;
$BASE_3: #0F4C75;
$BASE_4: #1B262C;


// NAV
$BACKGROUND_NAV: $BASE_1;
$BORDER_PROFILE_PHOTO: BASE_4;

$COLOR_ICON_SIDE_MENU: $BASE_3;
$COLOR_TEXT_ICON: BASE_4;
$COLOR_FOCUS_SIDE_MENU: $BASE_2;
