@import 'variables';

.nav-menu {
  padding: 15px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu {
  ul{
    li{
      a{
        padding: 5px;
        i{
          font-size: 25px;
          color: $COLOR_ICON_SIDE_MENU;
          margin-left: 10px;
          margin-right: 10px;
        }
        span{
          font-size: 18px;
          color: $COLOR_TEXT_ICON;
          font-weight: 500;
        }
      }
    }
  }
}

%style_hover_svg{
  color: $COLOR_TEXT_ICON;
  fill: #0f4c754a;
}

%style_hover_span{
  color: $COLOR_TEXT_ICON;
  fill: #0f4c754a;
}

.nav-menu a:hover i svg{
  @extend %style_hover_svg;
}
.nav-menu a:hover span {
  @extend %style_hover_span;
}

.nav-menu .active{
  i svg{
    @extend %style_hover_svg;
  }
  span{
    @extend %style_hover_span;
  }

}


// /*--------------------------------------------------------------
// # Navigation Menu
// --------------------------------------------------------------*/
// /* Desktop Navigation */




// .nav-menu>ul>li {
//   // position: relative;
//   // white-space: nowrap;
// }

// .nav-menu>ul>li>a>span {
//   color: #a5c612;
//     // white-space: nowrap;
// }

// // .nav-menu a{
// //   background-color: aqua !important;
// //   margin-top: 10px;
// //   display: flex;
// //   align-items: center;
// // }

// .nav-menu a,
// .nav-menu a:focus {
//   display: flex;
//   align-items: center;
//   color: #06070d;
//   padding: 12px 15px;
//   transition: 0.3s;
//   font-size: 15px;
// }

// .nav-menu a i,
// .nav-menu a:focus i {
//   font-size: 24px;
//   padding-right: 8px;
//   color: $COLOR_ICON_SIDE_MENU;
// }

// .nav-menu a:hover,
// .nav-menu .active,
// .nav-menu .active:focus,
// .nav-menu li:hover>a {
//   text-decoration: none;
//   color: $COLOR_FOCUS_SIDE_MENU;
// }

// .nav-menu a:hover i,
// .nav-menu .active i,
// .nav-menu .active:focus i,
// .nav-menu li:hover>a i {
//   color: #149ddd;
// }

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 60px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: $BASE_2;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}
